# Add any directories, files, or patterns you don't want to be tracked by version control
v15
.vs
bin
obj
Logs/
HmisSaneServer.csproj.user
RadiologyImages
ClerkingFiles
.vscode
Properties
Obfuscator_Output